@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './base.scss';

body {
  height: 100%;
  background-color: #f7f7f7;
  color: #626262;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Futura, PingFang SC, Helvetica Neue, Helvetica,
    Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}
ul {
  padding: 0;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
.search-popover {
  margin-top: 20px !important;
  width: 58%;
  min-width: 770px;
  padding: 20px;
  border-radius: 15px;
}
.vital-container {
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 5px;
}
.color-main {
  color: $mainColor;
}
.bg-color-main {
  background-color: $mainColor;
}
.nav-title {
  position: relative;
  padding-left: 20px;
  &:before {
    content: '';
    width: 10px;
    height: 20px;
    background-color: $mainColor;
    position: absolute;
    left: 0;
    top: -2px;
  }
}
.search-input {
  width: 250px;
}
.hight-light-container {
  em {
    color: #ff5656;
    font-style: normal;
    font-weight: bold;
  }
}

.query-string-content {
  .concept {
    font-style: normal;
    color: #ff9966;
  }
  .AND {
    font-style: normal;
    color: #66cccc;
  }
  .NOT {
    font-style: normal;
    color: #ff5656;
  }
  .OR {
    font-style: normal;
    color: #99ccff;
  }
}
.el-popover {
  border-radius: 10px;
}
.upload-content {
  width: 100%;
  .el-upload-dragger {
    border-radius: 10px;
  }
  .el-upload {
    width: 100%;
    .el-upload-dragger {
      width: 100%;
    }
  }
}
// user page style
.user-container {
  float: left;
  padding-left: 260px;
}
.user-sider {
  width: 260px;
  position: fixed;
  float: left;
  height: calc(100% - 50px);
  i {
    color: #f75a7f;
  }
  .user-sider-mean {
    li {
      padding: 15px 20px;
      cursor: pointer;
      &.active {
        border-right: 3px solid $mainColor;
      }
    }
  }
}

.progress-running {
  position: relative;
  .el-progress__text {
    display: none;
  }
  .progress-running-icon {
    position: absolute;
    right: 35px;
    top: 0;
  }
}
