// sidebar
$menuText:#000;
$menuActiveText:#2B3067 ;
$subMenuActiveText:#E3EBFE; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#E3EBFE;

$subMenuBg:#E3EBFE;
$subMenuHover:#E3EBFE;

$sideBarWidth: 210px;

$mainColor:#2B3067 ;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  mainColor:$mainColor;
}
